.user-card {

    border-radius: 10px;
    position: relative;
    padding: 24px;
    max-width: 395px;;
    box-shadow: 0px 4px 4px 0px rgba(76, 84, 123, 0.24);
    background-color: #fff;
    margin: 20px auto;
    overflow: hidden;

    button.edit-user-information {
        position: absolute;
        top: 5px; right: 5px;
        width: 20px; height: 20px;
        background: url(/assets/icons/pencil-purple.svg) no-repeat center/ 18px;
    }

    .profile-data {

        // Place avatar & info side by side
        display: flex;
        flex-direction: row;

        .avatar-wrapper {

            // save space for country flags
            margin-left: 26px;
            margin-right: 10px;
            margin-top: 20px;
            position: relative;
            height: fit-content;


            .avatar-frame {
                position: relative;
                width: 110px;
                height: 110px;

                 // button to edit user image
                button.edit-circle {
                    display: block;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    right: 15%;
                    background-color: #4C547B;
                    border-radius: 50%;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    transition: all .3s ease-out;

                    // make button a bit transparent on hover or press
                    &:hover, &:active {
                        opacity: .9;
                    }

                    .white-pencil-icon {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 9px;
                        transform: translate(-50%, -50%);
                        height: 9px;
                        background: url(/assets/icons/pencil-white.svg) no-repeat center/contain;
                    }
                }

                // the avatar image
                .avatar-image {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    background-color: #eee;
                }

            }

        } // end of .avatar wrapper

        .info-wrapper {

            flex-grow: 1;

            .user-name-block {
                position: relative;

                .user-name {
                    // could be moved colors to theme
                    color: rgba(0, 31, 61, 0.9);
                    font-weight: 700;
                    font-size: 20px;
                    margin-right: 14px; // give space for 'is verified' icon
                }

                .is-verified-status {
                    position: absolute;
                    right: 0;
                    top:0;
                    width: 12px;
                    height: 14.67px;
                }

            }

            .rating-block {
              display: flex;
              align-items: center;
              margin-bottom: 5px;

              .reviews-counter {
                flex-grow: 1;
                text-align: center;
                color: #3C738D;
                text-decoration: underline;
                font-size: 9px;
              }
            }

            .user-about {
                font-size: 12px;
                line-height: 1.5;
                padding-right: 8px;
                color: rgba(0, 31, 61, 0.8);
                font-weight: 400;
            }

            .user-location {
                margin-top: 3px;
                font-size: 9px;
                color: rgba(0, 31, 61, 0.6);

                img.location-icon   {
                    vertical-align: baseline;
                    width: 6px; height: 10px;
                   margin-right: 5px;
                }

            }

        }

    }

}
