<div class="user-card animate__animated animate__fadeInUp">

    <button class="edit-user-information animate__animated animate__fadeInDown animate__delay-3s" title="Edit information" (click)="openEditUserDialog()"></button>

    <div class="profile-data">

        <!-- Avatar & languages -->
        <div class="avatar-wrapper animate__animated animate__flipInY animate__delay-1s">

            <!-- Languages cirlce -->
            <app-languages-circle
              [languages]="user.languages"
              [radius]="72"
              [iconSize]="18"
              [spaceBetweenIcons]="5">
            </app-languages-circle>

            <!-- Avatar display -->
            <div class="avatar-frame animate_animated">
                <button class="edit-circle" title="Change your image" (click)="openEditAvatarDialog()">
                    <span class="white-pencil-icon"></span>
                </button>

                <img [src]="user.avatarUrl" class="avatar-image" alt="Avatar" title="Avatar">
            </div>

        </div>

        <!-- Contacts & Info -->
        <div class="info-wrapper">

            <!-- Full Name -->
            <div class="user-name-block animate__animated animate__fadeInDown">
                <h2 class="user-name"> {{ user.fullName }} </h2>
                <img src="/assets/icons/verified-icon.svg" class="is-verified-status" />
            </div>

            <!-- Rating stars -->
            <div class="rating-block">
                <star-rating-comp
                  class="rate-control"
                  [staticColor]="'negative'"
                  [size]="'small'"
                  [starType]="'svg'"
                  [hoverEnabled]="true"
                  [showHalfStars]="true"
                  [rating]="user.rating">
                </star-rating-comp>

                <span class="reviews-counter"> {{ user.reviewsCount }} Reviews </span>
            </div>

            <!-- About -->
            <div class="user-about animate__animated animate__fadeInRight">
               {{ user.about }}
            </div>

            <!-- Location -->
            <div class="user-location">
                <img src="/assets/icons/map-marker.svg" class="location-icon" alt="Marker"/>
                <span> {{ user.address }}</span>
            </div>

        </div>

    </div>

</div>
