<!-- Just few letters about myself -->

<div class="d-flex justify-content-center mb-4">

  <mat-card class="example-card animate__animated animate__backInRight">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Yaroslav Khaba</mat-card-title>
      <mat-card-subtitle>Senior Full Stack Developer</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://media-exp1.licdn.com/dms/image/C4E03AQEq3ajsYS0DbA/profile-displayphoto-shrink_400_400/0?e=1609372800&v=beta&t=r8hSbyJF8xu9DuDLBo1GzZqoQTmSgYwyMm2KkEVCBME" alt="Yaroslav Khaba Picture">

    <mat-card-content>
      <p>
        Hello. My name is Yaroslav. I'm from Ukraine. Programming is my passion. Code quality is my priority. I'll be glad to cooperate with your company.

        <br> <br> Wish you to have a great day.
      </p>
    </mat-card-content>

    <mat-card-actions class="text-center mb-1">
      <a mat-raised-button color="accent" target="_blank" href="https://www.linkedin.com/in/yaroslaw-khaba-bb322386/">
        <mat-icon aria-hidden="false" class="align-middle">work</mat-icon>
        View LinkedIn
      </a>
      <a mat-raised-button href="mailto:knitershift@gmail.com">
        <mat-icon aria-hidden="false" class="align-middle">email</mat-icon>
        Write Email
      </a>
    </mat-card-actions>

  </mat-card>

</div>
