.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQEq3ajsYS0DbA/profile-displayphoto-shrink_100_100/0?e=1609372800&v=beta&t=g1izfGeqhnEvpnh92AlXMFxBISx0fgbkwDfosbzoVbQ');
  background-size: cover;
}
