
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
$SevenPortfolio-primary: mat-palette($mat-deep-purple, 700, 400, 800);
$SevenPortfolio-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SevenPortfolio-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$SevenPortfolio-theme: mat-light-theme($SevenPortfolio-primary, $SevenPortfolio-accent, $SevenPortfolio-warn);


// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Barlow, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($SevenPortfolio-theme);

// Define custom font

html, body { height: 100%; }
body {
  margin: 0;
  background-color: #E5E5E5;
}

// reset styles:
button {
  outline: none !important;
  border: none;
}


// inport styles for star rating component
@import '~css-star-rating/scss/star-rating';

// override default styles for rating component

.rate-control {
  transform: scale(1.4);
  transform-origin: left;

  .rating {
    outline: none;
    margin-bottom: 0 !important;
  }

  .star-container {
    margin-left: 0 !important;
  }
}
