<h1 mat-dialog-title>
  <mat-icon aria-hidden="false" class="align-middle">account_circle</mat-icon>
  Your information
</h1>

<div mat-dialog-content>

  <form [formGroup]="form" class="example-form">

    <!-- Full Name -->
    <mat-form-field class="w-100 mb-2">

      <mat-label>Full Name</mat-label>
      <input matInput placeholder="Ex. John Doe" formControlName="fullName">

      <mat-error *ngIf="form.controls.fullName.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>

      <mat-error *ngIf="form.controls.fullName.hasError('minlength')">
        Minimum length is <strong> 3 </strong>
      </mat-error>

    </mat-form-field>

    <!-- About -->
    <mat-form-field class="w-100 mb-2">

      <mat-label>About</mat-label>
      <textarea matInput placeholder="Ex. I work on..." formControlName="about"></textarea>

      <mat-error *ngIf="form.controls.about.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>

    </mat-form-field>

    <!-- Address -->
    <mat-form-field class="w-100 mb-2">

      <mat-label>Address</mat-label>
      <input matInput placeholder="Ex. New York" formControlName="address">

      <mat-error *ngIf="form.controls.address.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>

      <mat-error *ngIf="form.controls.address.hasError('minlength')">
        Minimum length is <strong> 3 </strong>
      </mat-error>

    </mat-form-field>

    <!-- Languages -->
    <mat-form-field appearance="fill" class="w-100 mb-2">

      <mat-label>Languages</mat-label>
      <mat-select formControlName="languages" [compareWith]="langComparer" multiple>
        <mat-option *ngFor="let lang of languagesList" [value]="lang">
         <img [src]="lang.icon" [alt]="lang.name" [title]="lang.name"/>
          {{ lang.name }}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="form.controls.languages.hasError('required')">
        Language is <strong>required</strong>
      </mat-error>

    </mat-form-field>

  </form>

</div>

<div mat-dialog-actions class="justify-content-center mb-1">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!form.valid" [mat-dialog-close]="form.value" cdkFocusInitial>Ok</button>
</div>
