div.languages-circle {
  position: absolute;
  top: 50%;
  left: 50%;

  img {
      position: absolute;
      transition: all .2s linear;
      width: 18px;
      height: 18px;
      display: block;
      border-radius: 50%;
      border: 1px solid #CFD8DC;
  }
}
