<h1 mat-dialog-title>
  <mat-icon aria-hidden="false" class="align-middle">face</mat-icon>
  Chose your picture
</h1>

<div mat-dialog-content>

  <form [formGroup]="form" class="example-form">

    <div class="text-center my-2">
      <img [src]="avatar" class="avatar-preview" alt="Avatar" title="Avatar">
    </div>

    <!-- Custom Avatar Selector -->
    <div class="w-100 mb-2">

      <div class="py-2 text-center">
        <input type="file" #avatarInput id="fileInput" (change)="avatarInputChange($event)" accept="image/*" class="d-none">
        <button class="mr-2" mat-mini-fab color="primary" (click)="avatarInput.click()">
          <mat-icon class="material-icons">attach_file</mat-icon>
        </button>
        Select an image
      </div>

    </div>

  </form>

</div>

<div mat-dialog-actions class="justify-content-center mb-1">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!form.valid" [mat-dialog-close]="avatar" cdkFocusInitial>Ok</button>
</div>
